.welcomepage {
  background-color: peachpuff;
  text-align: center;
}

.room {
  background-color: peachpuff;
  text-align: center;
}

.login {
  background-color: peachpuff;
  text-align: center;
}

.signup {
  background-color: peachpuff;
  text-align: center;
}

.roomlist {
  text-align: left;
  color: black;
}
